tags
temp.rb
tags.lock
tags.temp
*.rest
todo.md
dip.yml
Session.vim
node_modules/
myscripts/
.irbrc
.irb_history
.projections.json
bin/sync_from_staging
bin/sync_db
bin/sketch
.aider*
progress/
.claude
WorkTree/
temp/
claude-execution-plans
_bmad
_bmad-output
.agents
skills-lock.json
