snippet pre-json
<pre>
	{JSON.stringify(${1:object}, null, '\n')}
</pre>
endsnippet

snippet webpack-views
const chokidar = require("chokidar");

environment.config.devServer.before = (app, server) => {
  chokidar
    .watch(["config/locales/*.yml", "app/views/**/*.erb"])
    .on("change", () => server.sockWrite(server.sockets, "content-changed"));
};
endsnippet
