snippet bulletconf
config.after_initialize do
	Bullet.enable = true
	Bullet.alert = true
	Bullet.bullet_logger = true
	Bullet.console = true
	Bullet.rails_logger = true
end
endsnippet

snippet ldebug
Rails.logger.debug { "\e[41mHINT: #{$1}\e[0m" }
endsnippet

snippet ldebugpretty
Rails.logger.debug { "\e[41mHINT: #{JSON.pretty_generate($1.as_json)}\e[0m" }
endsnippet

snippet pretty_print
puts JSON.pretty_generate($1.as_json)
endsnippet

snippet redirect_stream
flash[:notice] = '$1'

render turbo_stream: turbo_stream.action(
	:redirect,
	polymorphic_url([user_role(current_user), $2]),
)
endsnippet

snippet sql_string
$1 = <<~AREL.squish
AREL
endsnippet

snippet sql_method
$1(<<~SQL.squish)
SQL
endsnippet
